html.light[data-theme='dark'] {
  display: none;
}

html.dark[data-theme='light'] {
  display: none;
}

[data-rehype-pretty-code-figure] {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  border-radius: 0.375rem;
  background-color: oklch(27.4% 0.006 286.033);
}

[data-rehype-pretty-code-figure] code {
  display: grid;
  min-width: 100%;
  overflow-wrap: break-word;
  word-break: break-word;
  border-radius: 0.375rem;
  border: none;
  background-color: transparent;
  padding-left: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  counter-reset: line;
  box-decoration-break: clone;
}

[data-rehype-pretty-code-figure] .line {
  padding: 0.25rem 1rem;
}

[data-rehype-pretty-code-figure] code[data-line-numbers] {
  counter-reset: line;
}

[data-rehype-pretty-code-figure] code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  margin-right: 1rem;
  display: inline-block;
  width: 1rem;
  text-align: right;
  color: oklch(55.1% 0.027 264.364);
}

[data-rehype-pretty-code-figure] .line--highlighted {
  background-color: oklch(86.9% 0.022 252.894 / 0.1);
}

[data-rehype-pretty-code-figure] .line-highlighted span {
  position: relative;
}

[data-highlighted-line] {
  background-color: oklch(86.9% 0.022 252.894 / 0.1);
}

[data-rehype-pretty-code-figure] .word--highlighted {
  border-radius: 0.375rem;
  background-color: oklch(86.9% 0.022 252.894 / 0.1);
  padding: 0.25rem;
}

[data-rehype-pretty-code-title] {
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: oklch(87.1% 0.006 286.286);
}

[data-rehype-pretty-code-title] + pre {
  margin-top: 0;
}

.mdx > .steps:first-child > h3:first-child {
  margin-top: 0;
}

.steps > h3 {
  margin-bottom: 1rem;
  margin-top: 2rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
}
